<%- include('header'), {seoDetails} %>

<!-- Header Banner -->
<section class="banner-header bg-img bg-fixed" data-overlay-dark="5" data-background="/assets/img/banner/08.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="subtitle">Venue</div>
                <div class="title">Hotel Venues</div>
            </div>
        </div>
    </div>
</section>
<!-- Facilities 2 -->
<section class="facilities2 bg-lightbrown">
    <div class="container">
        <div class="tabs-content">
            <% if (venues && venues.length > 0) { %>
                <% venues.forEach((venue, index) => { %>
                    <!--tab-->
                    <div class="tab active-tab" id="venue-<%= venue.slug %>">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-6 col-md-12">
                                <% if (venue.bannerImage) { %>
                                    <img src="<%= venue.bannerImage %>" class="img-fluid venue-banner-img" alt="<%= venue.title %>">
                                <% } else if (venue.image) { %>
                                    <img src="<%= venue.image %>" class="img-fluid venue-banner-img" alt="<%= venue.title %>">
                                <% } else if (venue.detailImages && venue.detailImages.length > 0) { %>
                                    <img src="<%= venue.detailImages[0] %>" class="img-fluid venue-banner-img" alt="<%= venue.title %>">
                                <% } %>
                            </div>
                            <div class="col-lg-5 offset-lg-1 col-md-12">
                                <% if (venue.tagline) { %>
                                    <div class="section-subtitle"><%= venue.tagline %></div>
                                <% } %>
                                <div class="section-title"><%= venue.title %></div>
                                <% if (venue.listDescription) { %>
                                    <p class="mb-25"><%= venue.listDescription %></p>
                                <% } %>
                                <% if (venue.venueDetails) { %>
                                    <div class="venue-details mb-30">
                                        <ul>
                                            <% if (venue.venueDetails.capacity) { %>
                                                <li><i class="fa-thin fa-users"></i> <%= venue.venueDetails.capacity %></li>
                                            <% } %>
                                            <% if (venue.venueDetails.area) { %>
                                                <li><i class="fa-thin fa-expand"></i> <%= venue.venueDetails.area %></li>
                                            <% } %>
                                            <% if (venue.venueDetails.type) { %>
                                                <li><i class="fa-thin fa-building"></i> <%= venue.venueDetails.type %></li>
                                            <% } %>
                                            <% if (venue.venueDetails.style) { %>
                                                <li><i class="fa-thin fa-palette"></i> <%= venue.venueDetails.style %></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                <% } %>
                                <% if (venue.features && venue.features.length > 0) { %>
                                    <ul class="list-unstyled list mb-30">
                                        <% venue.features.slice(0, 4).forEach((feature) => { %>
                                            <li>
                                                <div class="list-icon"> <span class="<%= feature.icon %>"></span> </div>
                                                <div class="list-text">
                                                    <p><%= feature.text %></p>
                                                </div>
                                            </li>
                                        <% }); %>
                                    </ul>
                                <% } %>
                                <a href="/venue/<%= venue.slug %>" class="button-3">
                                    <% if (venue.buttonIcon) { %>
                                        <i class="<%= venue.buttonIcon %>"></i>
                                    <% } %>
                                    <%= venue.buttonText || 'View Details' %>
                                </a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="tab active-tab">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p>No venues available.</p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</section>

<style>
    /* Override facilities2 CSS to show all tabs as cards in listing */
    .facilities2 .tabs-content .tab.active-tab {
        display: block !important;
        margin-top: 0;
        transform: translateY(0) !important;
    }
    
    /* Venue Details Styling */
    .venue-details ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .venue-details ul li {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .venue-details ul li i {
        color: #cb9d55;
    }
    
    /* Venue Banner Image Styling */
    .venue-banner-img {
        width: 586px;
        height: 527px;
        object-fit: cover;
    }
    
    @media (max-width: 768px) {
        .venue-banner-img {
            width: 100%;
            aspect-ratio: 1 / 1;
            height: auto;
        }
    }
</style>

<%- include('footer') %>

